<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-solid fa-user-secret fa-6x"></i>
    <h1 class="display-3">CORPTALKS</h1>
    <p class="secret-text">We can grow as a team only if we are willing to accept feedback!</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="Share your feedback!">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
